@model TireDep.App.ViewModels.Deposit.DepositDetailsVm

@{
    ViewData["Title"] = "ViewDepositById";
}

<h1>View Deposit By Id</h1>

<div>
    <h4>Deposit: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="row">
        ID: @Html.DisplayFor(model => model.Id)<br />
        Name: @Html.DisplayFor(model => model.Name)<br />
        Tire Tread Height: @Html.DisplayFor(model => model.TireTreadHeight)<br />
        Season: @Html.DisplayFor(model => model.SeasonTire.Name)<br /><br />
        Owner: @Html.DisplayFor(model => model.Owner.LastName)<br /><br />
        Start Date: @Html.DisplayFor(model => model.StartDate)<br />
        End Date: @Html.DisplayFor(model => model.EndDate)<br /><br />
        IsActive: @Html.DisplayFor(model => model.IsActive)<br />
        Price: @Html.DisplayFor(model => model.Price)<br />
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
